%nav.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
  .container-fluid.navigation
    .container
      .navbar-header
        %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: 'navbar-collapse-header' } }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to root_path, class: 'navbar-brand' do
          = render 'shared/logo'
        .user-city
          - city = Geocoder.search(request.remote_ip).first.city
          = city.blank? ? 'Cidade' : city
      .collapse.navbar-collapse#navbar-collapse-header
        / %form.navbar-form.navbar-right{ role: 'search' }
        /   .form-group
        /     %input.form-control{ type: 'text', placeholder: 'Procurar...' }
        /   %button.btn.btn-default{ type: 'submit' } Submit
        %ul.nav.navbar-nav.navbar-right
          %li= link_to 'Home', root_path
          %li= link_to 'Sobre'
  .container-fluid.menu-fluid-container
    .container.menu-container
      = render 'shared/menu'
      .page-title= @title || 'Bem vindo'
