.double-trapezoid{ style: "border-bottom-color: #{color};", data: { toggle: 'tooltip', placement: 'top', title: name, category_id: id } }
  .cat-icon{ class: "icon-#{icon}" }
  .trapezoid
  .trapezoid.trapezoid-overlay
  - if @category.present? and @category.id != id
    .trapezoid.trapezoid-overlay-dark
    .trapezoid.trapezoid-overlay-dark.bottom-trapezoid
  .trapezoid.bottom-trapezoid
