.menu
  - Category.roots.each do |cat|
    - if cat.color.present? and cat.icon_code.present?
      = link_to cat do
        = render 'shared/hexagon', color: cat.color, icon: cat.icon_code, name: cat.name, id: cat.id

  -# = image_tag 'menu-hint.png', class: 'menu-hint'
