.promotion_thumb{ data: { category_id: promotion.category.present? ? promotion.category.id : nil } }
  .left-area
    / = image_tag promotion.branches.first.business.logo(:thumb), class: 'business-logo', style: 'clip-path: url(#clipPolygon)'
    - unless promotion.category.nil?
      - color = promotion.category.color
    %svg.svg-image{ version: "1.1", :'xmlns:xlink' => 'http://www.w3.org/1999/xlink', xmlns: 'http://www.w3.org/2000/svg' }
      %polygon#clipPolygon{points: "112 0,30 0,0 30,0 112,30 142,112 142", fill: color }
      %g{ width: '110', height: '138', :'clip-path' => "url(#clipPolygon)", transform: "translate(2, 2)" }
        %rect{ width: '110', height: '138', fill: '#fff' }
        %image{:'xlink:href' => promotion.branches.first.business.logo(:thumb), width: '110', height: '138' }
    .business-name.dotdotdot= promotion.branches.first.business.name
    .aggregator
      = image_tag promotion.aggregator.logo.url
      = image_tag 'paperclip.png', class: 'paperclip'
  .middle-area{ style: "border-color: #{color}"  }
    .promo-title.dotdotdot
      = promotion.title
    .promo-where.dotdotdot
      = promotion.branches.map { |b| b.address.present? ? b.address.neighborhood : 'online' }.join ' / '
    .open-days
      - od = promotion.open_day
      - od.days.each do |d|
        - if od.open_at? d
          .open= od.days_letters[d]
        - else
          .closed= od.days_letters[d]
      %span
        - if promotion.expiration_date.present?
          = "Até #{promotion.expiration_date.strftime('%b %Y').downcase}"
    - promotion.points_needed = 10
    - if promotion.points_needed > 0
      .points-needed
        = image_tag 'points-badge.png'
        .points= promotion.points_needed
    .difficulty
      = image_tag "#{promotion.difficulty}.png"
    .right-area
      = link_to '#' do
        %span.icon-Enviar_Amigo
      = link_to promotion do
        %span.icon-Informacao
      = link_to '#' do
        %span.icon-Favoritos
      = link_to '#' do
        %span.icon-Reportar
