@import "sass_variables"
@import "bootstrap/variables"
@import "bootstrap/mixins"
@import "bourbon"

html, body
  padding: 0
  margin-bottom: 0

body
  font-family: "MyriadProLight"

.page-container
  padding-top: $padding-top
  background-color: $background-white
  border: 1px solid black
  border-top-width: 0
  border-bottom-width: 0

.vector-logo
  position: relative
  font-size: 100px
  .logo-tesoura_pontilhado
    color: #c5d93f
  .logo-etiqueta
    color: #b23638
    position: absolute
    top: 0
    left: 0
  i
    font-size: 0.7em
  .word
    font-family: "walkway_rounded" !important
    font-weight: normal !important
    font-style: normal !important
    color: #2d434f
    position: absolute
    top: 0
    left: 0
  .big
    font-size: 0.24em
    margin-top: 8%
    margin-left: 20.8%
  .small
    font-size: 0.10em
    margin-top: 19%
    margin-left: 22.5%
    width: auto
    display: inline-block

.user-city
  font-family: "walkway_rounded"
  font-size: 20px
  float: left
  margin-top: 45px
  margin-left: -20px
  letter-spacing: 1px

.navbar
  margin-bottom: 0
  background-color: transparent
  border-bottom-color: transparent
  .container-fluid.navigation
    background-color: $navbar-default-bg
    border-bottom: 1px solid darken($navbar-default-bg, 6.5%)
    z-index: 2
    position: relative
  .menu-container
    background-color: $background-white
    border: 1px solid black
    border-top-width: 0
    border-bottom-width: 0
    position: relative
    .menu
      img.menu-hint
        position: absolute
        bottom: 10px
        right: 70px
  .menu-fluid-container
    z-index: 1
    position: relative
    border-bottom: 2px dashed #c5d93f
    +transition(all 0.3s ease)
    .page-title
      font-family: "walkway_rounded"
      font-size: 22px
      letter-spacing: 1px
      margin-left: 15px
  .menu-fluid-container.hidden-menu
    margin-top: -135px
    &:hover
      margin-top: 0

.tooltip
  z-index: 100000

.navbar-brand
  padding: 10px 15px


.promotion_thumb
  position: relative
  display: inline-block
  height: 138px
  margin: 10px
  .left-area
    width: 112px
    height: 142px
    position: relative
    float: left
  .svg-image
    position: relative
    display: block
  .business-name
    text-align: left
    background-color: rgba(0, 0, 0, 0.5)
    width: calc(100% - 30px)
    position: absolute
    bottom: 2px
    right: 0
    height: 21px
    font-family: "MyriadProLight", serif
    font-size: 12.5px
    line-height: 21px
    color: white
  .business-name:after
    text-align: left
    content: ""
    position: absolute
    left: -21px
    top: 0
    +triangle(21px, rgba(0, 0, 0, 0.5), up-right)
  .aggregator
    position: absolute
    top: 0px
    right: 4px
  .paperclip
    position: absolute
    left: -1px
    top: -7px
  .middle-area
    text-align: left
    background: url(image-path('textura.png'))
    width: 250px
    height: 142px
    border-style: solid
    // border-left-style: dotted
    border-width: 2px
    border-left-width: 0
    float: left
    position: relative
    +border-right-radius(18px)
    .promo-title, .promo-where
      color: #5d5d5d
      font-size: 19.67px
      margin: 0 10px 0 10px
      max-width: 155px
    .promo-title
      margin-top: 10px
      height: 68px
      line-height: 22px
    .promo-where
      font-size: 13.42px
      height: 36px
      margin-right: 20px
    &:after
      content: ""
      position: absolute
      border-color: inherit
      border-style: dashed
      border-width: 0
      border-left-width: 2px
      width: 2px
      height: 100%
      left: 0
      top: 0
    .open-days
      margin-left: 10px
      margin-top: 2px
      font-size: 13.42px
      font-family: "MyriadProRegular"
      color: #4b4c4c
      .open, .closed
        text-align: center
        width: 15px
        // height: 15px
        border: 1px solid #7d7e7e
        line-height: 15px
        display: inline-block
        margin-left: -2px
      .open
        color: white
        background-color: #2c8e4f
    .points-needed
      position: absolute
      right: 5px
      top: 50%
      margin-top: -20px
      margin-right: 30px
    .difficulty
      position: absolute
      right: 0
      top: 0
      height: 100%
  .right-area
    background-color: #4b4c4c
    +border-right-radius(16px)
    position: absolute
    width: 30px
    height: 100%
    right: 0
    top: 0
    a
      display: block
      color: #f5f0ed
      height: 25%
      font-size: 30px
      text-align: center
      padding-top: 2px
      border-bottom: 1px solid #dfdede
      +transition(all 0.3s ease)
      &:last-child
        border: none
      &:hover
        text-decoration: none
        color: #999

.points-needed
  text-align: center
  position: relative
  .points
    position: absolute
    color: #f0ece9
    font-size: 18.74px
    top: 4px
    width: 100%


.hexagon
  width: 100px
  height: 55px
  background: red
  position: relative

.hexagon:before
  content: ""
  position: absolute
  top: -25px
  left: 0
  width: 0
  height: 0
  border-left: 50px solid transparent
  border-right: 50px solid transparent
  border-bottom: 25px solid red

.hexagon:after
  content: ""
  position: absolute
  bottom: -25px
  left: 0
  width: 0
  height: 0
  border-left: 50px solid transparent
  border-right: 50px solid transparent
  border-top: 25px solid red

.menu
  text-align: center
  padding: 40px 0 15px 20px

.trapezoid
  border-bottom: 45px solid red
  border-bottom-color: inherit
  border-left: 26px solid transparent
  border-right: 26px solid transparent
  height: 0
  width: 105px

.double-trapezoid
  position: relative
  display: inline-block
  margin-left: -10px
  cursor: pointer
  +transition(all 0.3s ease)
  .trapezoid
    +transform(rotate(30deg))
  .trapezoid-overlay
    border-bottom-color: rgba(255, 255, 255, 0.1)
    position: absolute
    top: 0
  .trapezoid-overlay-dark
    border-bottom-color: rgba(0, 0, 0, 0.4)
    position: absolute
    top: 0
    z-index: 15
    &.bottom-trapezoid
      top: 45px
  .bottom-trapezoid
    +transform(rotate(210deg))
    margin-top: -6px
    margin-left: -22px
  .cat-icon
    position: absolute
    z-index: 10
    color: white
    font-size: 80px
    margin-left: 4px
    margin-top: 2px

.double-trapezoid.selected-category
  opacity: 0.5

.double-trapezoid:hover
  opacity: 0.5

.tooltip
  font-size: 16px





.promotion-show-menu
  li
    a
      font-family: "dk_crayon"
      font-size: 20px
      color: #2e4349
      border: none
  li.active, li:hover
    padding: 0
    a, a:hover
      background-color: transparent
      border: none
  li:hover:not(.active) > a
    text-decoration: underline
  li.active
    img.active-selector
      display: block
  img.active-selector
    position: absolute
    top: 50%
    margin-top: -15.5px
    left: 50%
    margin-left: -42px
    display: none

.promo-info
  .first-part
    .container
      padding-bottom: 10px
    .promo-name
      padding-top: 10px
      font-size: 18px
      font-family: "walkway_rounded"
      letter-spacing: 1.5px
  .promo-info-title
    font-family: "walkway_rounded"
    font-size: 22px
    letter-spacing: 2px
    margin-left: 3px
  img.horizontal-image
    +transform-origin(0 0)
    +transform(rotate(90deg) translateY(-100%))
    position: absolute
    top: 3px
  span.difficulty-in-words
    margin-left: 120px
    font-size: 16px
  .aggregator, .points-needed
    margin: 5px 5px 0 5px
    float: left
  .points-needed
    margin-right: 15px
  hr
    border-top-color: darken($navbar-default-bg, 6.5%)
    margin: 0
  .second-part
    .container
      padding-top: 10px
    .promotion-image
      width: 100%
    .basic-branch-description
      p
        margin: 2px 0
    .promo-description
      margin-top: 20px
      font-size: 18px

.tab-content
  #description, #terms_of_use, #business
    margin: 0 10px
    padding: 10px 0

.promotion-business-info
  font-family: 'MyriadProRegular'
  font-size: 14px
  border-bottom: 2px dashed #2e4349
  padding: 0 10px 10px 10px
  img
    width: 100%

.promotion-business-description
  font-family: 'MyriadProRegular'
  font-size: 14px
  padding: 10px

.promotion-business-map
  height: 400px
  position: relative

#promotion-business-map
  width: 100%
  height: 100%
