.promo-info
  .first-part
    .container.page-container
      .row
        .col-xs-12
          .row
            .col-xs-8
              .row
                .col-xs-12
                  .promo-info-title Descrição
              .row
                .col-xs-12
                  = image_tag "#{@promotion.difficulty}.png", class: 'horizontal-image pull-left'
                  %span.difficulty-in-words= @promotion.translated_difficulty
            .col-xs-4
          .row{ style: 'margin-top: 5px' }
            .col-xs-12
              = image_tag @promotion.aggregator.logo.url, class: 'aggregator'
              - if @promotion.points_needed.present?
                .points-needed
                  = image_tag 'points-badge.png'
                  .points= @promotion.points_needed
              %p.promo-name= @promotion.title

  %hr
  .second-part
    .container.page-container
      .row
        .col-xs-12
          .promo-info-title Estabelecimento
      .row.basic-branch-description
        .col-xs-2{ style: 'padding-right: 0;' }
          = image_tag @business.logo(:original), class: 'promotion-image'
        .col-xs-6
          %p= @business.name
          - if @address
            %p= @address.neighborhood
            %p= @address.full_street
            %p= @address.full_city
          - if @phone
            %p= "Tel.#{@phone.formatted}"
        .col-xs-4.text-right
          - if @business.corporate_name.present?
            %p= @business.corporate_name
          - if @business.cnpj.present?
            %p= "CNPJ: #{@business.formatted_cnpj}"
      .row
        .col-xs-12
          %p.promo-description= @promotion.description
      .row
        .col-xs-12.promotion-business-map
          #promotion-business-map
          #map-markers
            - @promotion.branches.each do |branch|
              - if branch.address.present?
                .marker{ data: { latitude: branch.address.latitude, longitude: branch.address.longitude, name: branch.name, current: (@branch.id == branch.id).to_s } }
      .row
        .col-xs-12.text-center{ style: 'padding: 10px; min-height: 30px;' }
          .addthis_sharing_toolbox
