@font-face {
  font-family: 'croppin';
  src:url(font-path('croppin.eot?qi9wwx'));
  src:url(font-path('croppin.eot?#iefixqi9wwx')) format('embedded-opentype'),
    url(font-path('croppin.woff?qi9wwx')) format('woff'),
    url(font-path('croppin.ttf?qi9wwx')) format('truetype'),
    url(font-path('croppin.svg?qi9wwx#croppin')) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'croppin';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ModaMASC:before {
  content: "\76";
}
.icon-ModaFEM:before {
  content: "\6b";
}
.icon-Viagens:before {
  content: "\23";
}
.icon-Sub_Viagens_Passagens:before {
  content: "\24";
}
.icon-Sub_Viagens_Pacotes:before {
  content: "\25";
}
.icon-Sub_Viagens_Hoteis:before {
  content: "\2c6";
}
.icon-Sub_Viagens_AlugueldeCarros:before {
  content: "\26";
}
.icon-Sub_Carros_Servicos:before {
  content: "\56";
}
.icon-Sub_Carros_RodasePneus:before {
  content: "\58";
}
.icon-Sub_Carros_Postos:before {
  content: "\5a";
}
.icon-Sub_Carros_LojasdeConveniencia:before {
  content: "\31";
}
.icon-Sub_Carros_CarroseMotos:before {
  content: "\32";
}
.icon-Sub_Carros_Acessorios:before {
  content: "\33";
}
.icon-Carros:before {
  content: "\55";
}
.icon-Sub_Casa_Utensilios:before {
  content: "\35";
}
.icon-Sub_Casa_Moveis:before {
  content: "\36";
}
.icon-Sub_Casa_Materialdecontrucao:before {
  content: "\37";
}
.icon-Sub_Casa_Eletrodomesticos:before {
  content: "\38";
}
.icon-Sub_Casa_Decoracao:before {
  content: "\39";
}
.icon-Sub_Casa_CamaeBanho:before {
  content: "\30";
}
.icon-Sub_Casa_AreaExterna:before {
  content: "\21";
}
.icon-Sub_Casa_Animais:before {
  content: "\40";
}
.icon-Casa:before {
  content: "\34";
}
.icon-Sub_Dep_Telefonia:before {
  content: "\48";
}
.icon-Sub_Dep_Papelaria:before {
  content: "\49";
}
.icon-Sub_Dep_Informatica:before {
  content: "\4a";
}
.icon-Sub_Dep_Eletronicos:before {
  content: "\4b";
}
.icon-Sub_Dep_CdeDvd:before {
  content: "\4c";
}
.icon-Sub_Dep_Brinquedos:before {
  content: "\4d";
}
.icon-Departamento:before {
  content: "\47";
}
.icon-Sub_Esportes_Volei:before {
  content: "\28";
}
.icon-Sub_Esportes_Tenis:before {
  content: "\29";
}
.icon-Sub_Esportes_Natacao:before {
  content: "\2d";
}
.icon-Sub_Esportes_Futebol:before {
  content: "\5f";
}
.icon-Sub_Esportes_Corrida:before {
  content: "\3d";
}
.icon-Sub_Esportes_Basquete:before {
  content: "\2b";
}
.icon-Sub_Esportes_Academia:before {
  content: "\60";
}
.icon-Esportes:before {
  content: "\2a";
}
.icon-Sub_Entreten_Teatro:before {
  content: "\4f";
}
.icon-Sub_Entreten_Shows:before {
  content: "\50";
}
.icon-Sub_Entreten_Museus:before {
  content: "\51";
}
.icon-Sub_Entreten_Cinema:before {
  content: "\52";
}
.icon-Sub_Entreten_Boates:before {
  content: "\53";
}
.icon-Sub_Entreten_Bares:before {
  content: "\54";
}
.icon-Entretenimento:before {
  content: "\4e";
}
.icon-Sub_Saude_Suplementos:before {
  content: "\7a";
}
.icon-Sub_Saude_Spa:before {
  content: "\41";
}
.icon-Sub_Saude_Remedios:before {
  content: "\42";
}
.icon-Sub_Saude_Manicure:before {
  content: "\43";
}
.icon-Sub_Saude_Depilacao:before {
  content: "\44";
}
.icon-Sub_Saude_Cosmeticos:before {
  content: "\45";
}
.icon-Sub_Saude_Cabelereiro:before {
  content: "\46";
}
.icon-SaudeeBeleza:before {
  content: "\78";
}
.icon-Sub_Moda_Social:before {
  content: "\6c";
}
.icon-Sub_Moda_SaiaseVestidos:before {
  content: "\6d";
}
.icon-Sub_Moda_RoupadeBanho:before {
  content: "\6e";
}
.icon-Sub_Moda_Inverno:before {
  content: "\6f";
}
.icon-Sub_Moda_Intimo:before {
  content: "\70";
}
.icon-Sub_Moda_Infantil:before {
  content: "\71";
}
.icon-Sub_Moda_CamisaPoloCamiseta:before {
  content: "\72";
}
.icon-Sub_Moda_CalcaseBermudas:before {
  content: "\73";
}
.icon-Sub_Moda_Calcados:before {
  content: "\74";
}
.icon-Sub_Moda_Acessorios:before {
  content: "\75";
}
.icon-Moda:before {
  content: "\77";
}
.icon-Sub_Gastro_Variados:before {
  content: "\62";
}
.icon-Sub_Gastro_PizzaseMassas:before {
  content: "\63";
}
.icon-Sub_Gastro_Oriental:before {
  content: "\64";
}
.icon-Sub_Gastro_Natural:before {
  content: "\65";
}
.icon-Sub_Gastro_Grelhados:before {
  content: "\66";
}
.icon-Sub_Gastro_FrutosdoMar:before {
  content: "\67";
}
.icon-Sub_Gastro_FastFood:before {
  content: "\68";
}
.icon-Sub_Gastro_Delicatessen:before {
  content: "\69";
}
.icon-Sub_Gastro_Churrascaria:before {
  content: "\6a";
}
.icon-Gastronomia:before {
  content: "\61";
}
.icon-ETC:before {
  content: "\2dc";
}
.icon-Reportar:before {
  content: "\2c";
}
.icon-Pontuacao:before {
  content: "\3c";
}
.icon-Informacao:before {
  content: "\2e";
}
.icon-Favoritos:before {
  content: "\3e";
}
.icon-Enviar_Amigo:before {
  content: "\2f";
}
