@font-face {
  font-family: 'dk_crayon';
  src: url(font-path('dk_crayon_crumble.eot?-m1vf72'));
  src: url(font-path('dk_crayon_crumble.eot?#iefix-m1vf72')) format('embedded-opentype'),
    url(font-path('dk_crayon_crumble.woff?-m1vf72')) format('woff'),
    url(font-path('dk_crayon_crumble.ttf?-m1vf72')) format('truetype'),
    url(font-path('dk_crayon_crumble.svg?-m1vf72#dk_crayon_crumble')) format('svg');
  font-weight: normal;
  font-style: normal;
}
