@font-face {
	font-family: 'logo';
	src: url(font-path('logo.eot?-m1vf72'));
	src: url(font-path('logo.eot?#iefix-m1vf72')) format('embedded-opentype'),
		url(font-path('logo.woff?-m1vf72')) format('woff'),
		url(font-path('logo.ttf?-m1vf72')) format('truetype'),
		url(font-path('logo.svg?-m1vf72#logo')) format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="logo-"], [class*=" logo-"] {
	font-family: 'logo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.logo-croppin_cortandogastos:before {
	content: "\31";
}
.logo-etiqueta:before {
	content: "\32";
}
.logo-tesoura_pontilhado:before {
	content: "\33";
}
.logo-tesoura:before {
	content: "\34";
}
