@font-face {
    font-family: 'MyriadProRegular';
    src: url(font-path('myriadpro-regular.eot'));
    src: url(font-path('myriadpro-regular.eot')) format('embedded-opentype'),
         url(font-path('myriadpro-regular.woff')) format('woff'),
         url(font-path('myriadpro-regular.ttf')) format('truetype'),
         url(font-path('myriadpro-regular.svg') "#MyriadProRegular") format('svg');
}
