@font-face {
    font-family: 'MyriadProLight';
    src: url(font-path('myriadpro-light.eot'));
    src: url(font-path('myriadpro-light.eot')) format('embedded-opentype'),
         url(font-path('myriadpro-light.woff')) format('woff'),
         url(font-path('myriadpro-light.ttf')) format('truetype'),
         url(font-path('myriadpro-light.svg') + "#MyriadProLight") format('svg');
}
