@font-face {
  font-family: 'walkway_rounded';
  src: url(font-path('walkway_rounded-webfont.eot?-m1vf72'));
  src: url(font-path('walkway_rounded-webfont.eot?#iefix-m1vf72')) format('embedded-opentype'),
    url(font-path('walkway_rounded-webfont.woff?-m1vf72')) format('woff'),
    url(font-path('walkway_rounded-webfont.ttf?-m1vf72')) format('truetype'),
    url(font-path('walkway_rounded-webfont.svg?-m1vf72#walkway_rounded')) format('svg');
  font-weight: normal;
  font-style: normal;
}
