!!!
%html
  %head
    %title Croppin
    - if @promotion
      = javascript_include_tag '//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry'
      = javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js'
      = javascript_include_tag "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53f6a96570539881"

    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags



  %body
    = render 'shared/header'
    = yield

    %svg.svg-image{ version: "1.1", :'xmlns:xlink' => 'http://www.w3.org/1999/xlink', xmlns: 'http://www.w3.org/2000/svg', width: '0', height: '0' }
      %g
        %clipPath{ id: "clipPolygon" }
          %polygon#clipPolygon{points: "110 0,28 0,0 28,0 110,28 138,110 138"}
